<div class="container">
  <label for="fname">First name:</label><br />
  <input type="text" id="fname" name="fname" /><br />
  <label for="lname">Last name:</label><br />
  <input type="text" id="lname" name="lname" /><br />
  <label for="username">Username:</label><br />
  <input type="text" id="username" name="username" /><br />
  <label for="email">Email:</label><br />
  <input type="email" id="email" name="email" /><br />
  <label for="password">Password:</label><br />
  <input type="password" id="password" name="password" /><br />
  <label for="country">Country:</label><br />
  <input type="text" id="country" name="country" /><br />
  <label for="city">City:</label><br />
  <input type="text" id="city" name="city" /><br />
  <label for="streetName">Street Name:</label><br />
  <input type="text" id="streetName" name="streetName" /><br />
  <label for="streetNumber">Street Number:</label><br />
  <input type="text" id="streetNumber" name="streetNumber" /><br />
  <br />

  <button class="btn btn-primary">Edit</button>
  <button class="btn btn-primary" (click)="logout()">Logout</button>
</div>
