<!-- reset-password.component.html -->
<div class="container mt-5">
  <h2>Reset Password</h2>
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <input
        type="password"
        id="newPassword"
        formControlName="newPassword"
        class="form-control"
      />
      <div
        style="color: red"
        *ngIf="resetForm.get('newPassword')?.hasError('required')"
      >
        Password is required.
      </div>
      <div
        style="color: red"
        *ngIf="resetForm.get('newPassword')?.hasError('minlength')"
      >
        Password must be at least 8 characters long.
      </div>
      <div
        style="color: red"
        *ngIf="resetForm.get('newPassword')?.hasError('invalidPassword')"
      >
        Password must contain at least 8 characters, one uppercase letter, one
        number, and one special character.
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
        class="form-control"
      />
      <div style="color: red" *ngIf="resetForm.hasError('notSame')">
        Passwords do not match.
      </div>
    </div>

    <div class="form-group">
      <label for="secretCode">Secret Code:</label>
      <input
        type="text"
        id="secretCode"
        formControlName="secretCode"
        class="form-control"
      />
      <div
        style="color: red"
        *ngIf="resetForm.get('secretCode')?.hasError('required')"
      >
        Secret Code is required.
      </div>
      <div
        style="color: red"
        *ngIf="resetForm.get('secretCode')?.hasError('minlength')"
      >
        Secret Code must be at least 20 characters long.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!resetForm.valid">
      Submit
    </button>
  </form>
</div>
