<div class="container">
  <button
    *ngIf="isLoggedin && userRole === 'HOST'"
    routerLink="/accommodations/create"
    class="btn btn-primary mb-4"
    id="createAccoButton"
  >
    Create Accommodation
  </button>

  <div class="container">
    <form [formGroup]="searchAccoForm" (ngSubmit)="searchAcco()">
      <div class="wrapper">
        <p>Search Accommodations</p>
        <div class="search-container">
          <input id="searchInput" type="text" [formControlName]="'location'" class="location" placeholder="Location">
          <input id="searchInput" type="date" [formControlName]="'startDate'" class="date-from" placeholder="Check In">
          <input id="searchInput" type="date" [formControlName]="'endDate'" class="date-to" placeholder="Check Out">
          <input id="searchInput" type="number" [formControlName]="'noGuests'" class="noPeople" placeholder="Number of people" min="0" max="15">
          <button type="submit" class="button">Search</button>
          <button type="button" class="button" (click)="ngOnInit()">
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
  <br>
  <div class="container">
    <form [formGroup]="filterAccoForm" (ngSubmit)="filterAcco()">
      <div class="wrapper">
        <p>Filter Accommodations</p>
        <div class="search-container">
          <input id="filterInput" type="number" [formControlName]="'priceFrom'" class="priceFrom" placeholder="Price From" min="1" max="1000">
          <input id="filterInput" type="number" [formControlName]="'priceTo'" class="priceTo" placeholder="Price To" min="1" max="1000">

          <div
            class="form-check"
            *ngFor="let amenity of getRange(amenityRange); let i = index"
            >
            <input
              id="filterInput"
              type="checkbox"
              [value]="amenity"
              (change)="onCheckChange($event)"
            />
            <label class="form-check-label" [for]="amenity">{{ amenity }}</label>
          </div>

          <div class="form-check">
            <input id="filterInput" type="checkbox" [formControlName]="'isFeatured'" class="featuredHost" value="Featured Host">
            <label class="form-check-label">Featured Host</label>
          </div>
          
          <button type="submit" class="button">Filter</button>
          <!-- <button type="button" class="button" (click)="ngOnInit()">Reset</button> -->
        </div>
      </div> 
    </form>
  </div>

  <div class="mt-3" *ngIf="isLoggedin && userRole === 'GUEST' && recCount > 0">
    <h3>Recommendations:</h3>
    <div class="row row-cols-3 g-4">
      <div class="col" *ngFor="let recommendation of recommendedAccomo">
        <div class="card h-100">
          <img src="../../assets/temp.jpg" alt="" />
          <div class="card-body">
            <p>
              {{
                recommendation.location!.city +
                  ", " +
                  recommendation.location!.country
              }}
            </p>

            <a
              class="mylink stretched-link opacity-0"
              [routerLink]="['/accommodations/info', recommendation._id]"
            >
              Check
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-accommo-list
    [accommodations]="accommodations"
    class="accommodations"
  ></app-accommo-list>
</div>
