<div class="container mt-5">
  <h2>Enter email for password recovery</h2>
  <form [formGroup]="emailForm" (ngSubmit)="sendVerificationEmail()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        style="width: 300px; text-align: left"
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
      />
      <div style="color: red" *ngIf="emailForm.get('email')?.hasError('email')">
        Please enter a valid email address.
      </div>
      <div
        style="color: red"
        *ngIf="emailForm.get('email')?.hasError('required')"
      >
        Email is required.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!emailForm.valid">
      Send
    </button>
  </form>
</div>
