<div class="container">
  <div *ngIf="!isDataEmpty">
    <h3 class="mb-3">{{ accommodation.name }}</h3>

    <p class="h4 fw-bold mb-2">
      {{
        accommodation.location?.city + ", " + accommodation.location?.country
      }}
    </p>

    <!-- <div class="d-flex justify-content-center">
      <img
        style="width: 1400px; height: 600px"
        [src]="accommodationImage"
        alt="IMAGES"
      />
    </div> -->

    <!-- <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="image-wrapper">
            <img class="big-image" [src]="accommodationImages[0]" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="image-wrapper">
                <img
                  class="small-image"
                  [src]="accommodationImages[1]"
                  alt=""
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-wrapper">
                <img
                  class="small-image"
                  [src]="accommodationImages[2]"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="image-wrapper">
                <img
                  class="small-image"
                  [src]="accommodationImages[3]"
                  alt=""
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-wrapper">
                <img
                  class="small-image"
                  [src]="accommodationImages[4]"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="container1">
        <div class="image-container">
          <div class="big-image">
            <img [src]="accommodationImages[0]" alt="Big Image" />
          </div>

          <div class="small-images">
            <img
              class="small-image"
              [src]="accommodationImages[1]"
              alt="Small Image 1"
            />
            <img
              class="small-image"
              [src]="accommodationImages[2]"
              alt="Small Image 2"
            />
            <img
              class="small-image"
              [src]="accommodationImages[3]"
              alt="Small Image 3"
            />
            <img
              class="small-image"
              [src]="accommodationImages[4]"
              alt="Small Image 4"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- <p class="mt-3 fw-bold">Descrpition:</p>  -->

    <div class="row mt-5" style="margin-top: 20px">
      <div class="col">
        <p class="fw-bold">Amenities:</p>
      </div>
      <div class="col">
        <p class="fw-bold">Guest Numbers:</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul class="list-group" *ngFor="let amenity of accommodation.amenities">
          <li class="list-group-item" [innerText]="amenity"></li>
        </ul>
      </div>

      <div class="col">
        <p>Maximum number of guests: {{ accommodation.maxGuests }}</p>
        <p>Minimum number of guests: {{ accommodation.minGuests }}</p>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-5" *ngIf="isDataEmpty">
    <p class="fw-bold text-bg-warning">
      Error, cannot retrieve accommodation data.
    </p>
  </div>

  <div class="mt-5 mb-5">
    <div *ngIf="role == 'HOST' && username == accommodation.username">
      <p>Create Availability period:</p>
      <form [formGroup]="accommodationForm" (ngSubmit)="onSubmit()">
        <table class="table table-bordered table-striped-columns">
          <caption>
            Create availability period
          </caption>
          <tbody>
            <tr>
              <th scope="row">Available from:</th>
              <td><input type="date" formControlName="availableFrom" /></td>
            </tr>
            <tr>
              <th scope="row">Available until:</th>
              <td><input type="date" formControlName="availableUntil" /></td>
            </tr>
            <tr>
              <th scope="row">Price type:</th>
              <td>
                <select formControlName="priceType" required>
                  <option value="night">Price per night</option>
                  <option value="person">Price per person</option>
                </select>
                <div
                  style="color: red"
                  *ngIf="
                    accommodationForm.get('priceType')?.hasError('required')
                  "
                >
                  Price type is required.
                </div>
              </td>
            </tr>
            <tr>
              <th>Price:</th>
              <td>
                <input type="number" formControlName="price" required />
                <div
                  style="color: red"
                  *ngIf="accommodationForm.get('price')?.hasError('required')"
                >
                  Price is required.
                </div>
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="!accommodationForm.valid"
                >
                  Create
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <div
      *ngIf="role == 'GUEST' && firstAvailableDate != null"
      class="container"
    >
      <div class="row">
        <!-- Left column for Reservations -->
        <div class="col-md-6">
          <div>
            <p>Reservations:</p>

            <ngb-datepicker
              #dp
              (dateSelect)="onDateSelection($event)"
              [displayMonths]="2"
              [markDisabled]="isDisabled"
              [dayTemplate]="t"
              outsideDays="hidden"
              [minDate]="firstAvailableDate!"
              [maxDate]="lastAvailableDate!"
            >
            </ngb-datepicker>

            <ng-template
              #t
              let-date
              let-focused="focused"
              let-disabled="disabled"
            >
              <span
                class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                [class.disabled]="disabled"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null"
              >
                {{ date.day }}
              </span>
            </ng-template>

            <br />
            <br />
            <p>from: {{ fromDate | json }}</p>
            <p>to: {{ toDate | json }}</p>
            <button class="btn btn-primary" (click)="reserveDates()">
              Reserve Dates
            </button>
          </div>
        </div>

        <!-- Right column for Host Grading Form -->
        <div class="col-md-6 ps-5">
          <div>
            <h2>Grade Host</h2>
            <form [formGroup]="form" (ngSubmit)="submitGrade()">
              <label for="grade">Grade (1-5):</label>
              <input
                type="number"
                id="grade"
                name="grade"
                min="1"
                max="5"
                formControlName="grade"
                required
              />
              <br />
              <button
                type="submit"
                class="btn btn-primary mt-3"
                [disabled]="!form.valid"
              >
                Submit Grade
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="role == 'GUEST' && startDate != null" class="container mt-4">
  <div>
    <h2>Grade Accommodation</h2>
    <form
      [formGroup]="formAccommodation"
      (ngSubmit)="submitAccommodationGrade()"
    >
      <label for="grade">Grade (1-5):</label>
      <input
        type="number"
        id="grade"
        name="grade"
        min="1"
        max="5"
        formControlName="grade"
        required
      />
      <br />
      <button
        type="submit"
        class="btn btn-primary mt-3"
        [disabled]="!formAccommodation.valid"
      >
        Submit Grade
      </button>
    </form>
  </div>
</div>
<div class="container mt-4">
  <h2>Host Grades AverageGrade: {{ hostAverageGrade }}</h2>
  <table class="table">
    <caption>
      Host Grades AverageGrade
    </caption>
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Creation Date</th>
        <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hostGrade of grades">
        <td>{{ hostGrade.userId }}</td>
        <td>{{ hostGrade.createdAt }}</td>
        <td>{{ hostGrade.grade }}</td>
        <div *ngIf="role == 'GUEST'">
          <button
            class="btn btn-danger"
            (click)="deleteHostGrade(hostGrade.id)"
          >
            Delete
          </button>
        </div>
      </tr>
    </tbody>
  </table>
</div>
<br />
<div class="container mt-4">
  <h2>Accommodation Grades, AverageGrade:{{ accommodation.AverageGrade }}</h2>
  <table class="table">
    <caption>
      Accommodation Grades
    </caption>
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Creation Date</th>
        <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let accommodationGrade of accommodationGrades">
        <td>{{ accommodationGrade.userId }}</td>
        <td>{{ accommodationGrade.createdAt }}</td>
        <td>{{ accommodationGrade.grade }}</td>
        <div *ngIf="role == 'GUEST'">
          <button
            class="btn btn-danger"
            (click)="deleteAccommodationGrade(accommodationGrade.id)"
          >
            Delete
          </button>
        </div>
      </tr>
    </tbody>
  </table>
</div>
