<div class="container">
  <button routerLink="/accommodations/create" class="btn btn-primary mb-4">
    Create Accommodation
  </button>
  <div class="row row-cols-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h3>Test</h3>
          <p>rexdtcfbgvyhuinjmoctygvubhtdvgfhuebi;k</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h3>Test</h3>
          <p>rexdtcfbgvyhuinjmoctyg</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h3>Test</h3>
          <p>rexdtcfbgvyhuinjmoctygvubhig fiowe;ngiwrniw fevnwoviown</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h3>Test</h3>
          <p>rexdtcfbgvyhuinjmoctygvubhbrwn;brwiw;hnubwrnhiuwrh;rw</p>
        </div>
      </div>
    </div>
  </div>
</div>
