<div class="container">
  <button routerLink="/accommodations/create" class="btn btn-primary mb-4">
    Create Accommodation
  </button>
  <div class="row row-cols-3 g-4">
    <div class="col" *ngFor="let accommodation of accommodations">
      <div class="card h-100">
        <div class="card-body">
          <h3>{{ accommodation.name }}</h3>
          <p>rexdtcfbgvyhuinjmoctygvubhtdvgfhuebi;k</p>
          <p>{{ "Min:" + accommodation.minGuests }}</p>
          <p>{{ "Max:" + accommodation.maxGuests }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
