<div class="container mt-5 d-flex justify-content-center">
  <form class="w-25" [formGroup]="form" (ngSubmit)="submit()">
    <fieldset>
      <legend>Login</legend>

      <input
        type="text"
        class="form-control mb-2"
        id="username"
        name="username"
        placeholder="Username"
        formControlName="username"
      />

      <input
        type="password"
        class="form-control mb-2"
        id="password"
        name="password"
        placeholder="Password"
        formControlName="password"
      />
      <ngx-recaptcha2 #captchaElem [siteKey]="siteKey"> </ngx-recaptcha2>
      <button
        type="submit"
        class="btn btn-primary mb-3"
        [disabled]="!form.valid"
      >
        Login
      </button>

      <div class="d-flex justify-content-center">
        <a class="me-3" routerLink="/register">Register</a>
        <a routerLink="">Forgot password</a>
      </div>
    </fieldset>
  </form>
</div>
