<div class="container">
  <div *ngIf="!isDataEmpty">
    <h3 class="mb-3">{{ accommodation.name }}</h3>

    <p class="h4 fw-bold mb-2">
      {{
        accommodation.location?.city + ", " + accommodation.location?.country
      }}
    </p>

    <div class="d-flex justify-content-center">
      <img class="w-75 h-75" src="../../assets/temp.jpg" alt="" />
    </div>

    <!-- <p class="mt-3 fw-bold">Descrpition:</p>  -->

    <div class="row mt-5">
      <div class="col">
        <p class="fw-bold">Amenities:</p>
      </div>
      <div class="col">
        <p class="fw-bold">Guest Numbers:</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul class="list-group" *ngFor="let amenity of accommodation.amenities">
          <li class="list-group-item" [innerText]="amenity"></li>
        </ul>
      </div>

      <div class="col">
        <p>Maximum number of guests: {{ accommodation.maxGuests }}</p>
        <p>Minimum number of guests: {{ accommodation.minGuests }}</p>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-5" *ngIf="isDataEmpty">
    <p class="fw-bold text-bg-warning">
      Error, cannot retrieve accommodation data.
    </p>
  </div>

  <div class="mt-5 mb-5">
    <div *ngIf="role == 'HOST' && username == accommodation.username">
      <p>Create Availability period:</p>
      <form [formGroup]="accommodationForm" (ngSubmit)="onSubmit()">
        <table class="table table-bordered table-striped-columns">
          <tbody>
            <tr>
              <th scope="row">Available from:</th>
              <td><input type="date" formControlName="availableFrom" /></td>
            </tr>
            <tr>
              <th scope="row">Available until:</th>
              <td><input type="date" formControlName="availableUntil" /></td>
            </tr>
            <tr>
              <th>Price per night:</th>
              <td>
                <input type="number" formControlName="pricePerNight" />
                <div
                  style="color: red"
                  *ngIf="
                    accommodationForm.get('pricePerNight')?.hasError('required')
                  "
                >
                  Price per night is required.
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Price per person:</th>
              <td>
                <input type="number" formControlName="pricePerPerson" />
                <div
                  style="color: red"
                  *ngIf="
                    accommodationForm
                      .get('pricePerPerson')
                      ?.hasError('required')
                  "
                >
                  Price per person is required.
                </div>
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="!accommodationForm.valid"
                >
                  Create
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <div *ngIf="role == 'GUEST'">
      <p>Reservations:</p>

      <ngb-datepicker
        #dp
        (dateSelect)="onDateSelection($event)"
        [dayTemplate]="t"
        outsideDays="hidden"
        [markDisabled]="isDisabled"
      >
      </ngb-datepicker>

      <ng-template #t let-date let-focused="focused">
        <span
          class="custom-day"
          [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          [class.disabled]="isDisabled(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null"
        >
          {{ date.day }}
        </span>
      </ng-template>
    </div>
  </div>
</div>
